export(acute.lkl.tree.xk.ik)
export(clu.exp.transmissions)
export(clu.exp.X2E)
export(clu.p.init)
export(clu.p.of.tchain.rnd.sampling)
export(clu.p.of.tchain)
export(clu.p.of.tipc.rnd.sampling)
export(clu.probabilities)
export(clu.sample)
export(clu.simulate)
export(clu.subtrees.find)
export(clu.tipc.n)
export(ibm.as.data.table)
export(ibm.collapse)
export(IBM.IND.ATTRIBUTES)
export(ibm.init.attributes)
export(ibm.init.beta)
export(ibm.init.incidence)
export(ibm.init.model)
export(ibm.init.pop)
export(ibm.init.popinitdistributions.vanilla)
export(IBM.LOCT)
export(IBM.MODELT)
export(ibm.sample)
export(ibm.set.modelbeta)
export(tipc.mle)
export(tpc.add.tree)
export(tpc.collapse)
export(tpc.find.treeidx)
export(tpc.init.tree)
export(tpc.init)
export(tpc.mean)
export(tpc.sd)
export(tpc.tabulate.after.sample)
export(tpc.tabulate)
useDynLib(tipc)
